<!doctype html>
<html lang="es">
<head>
    <title> LOGIN </title>
    <link rel="stylesheet" href="login.component.css">
</head>

<body>
    <div id="contenedor">
        <div id="contenedorcentrado">
            <div id="login">
                <form id="loginform">
                    <label for="usuario">Usuario</label>
                    <input id="usuario" type="text" name="usuario" placeholder="Ingresa tu usuario" required>
                    <label for="password">Contraseña</label>
                    <input id="password" type="password" placeholder="Ingresa tu contraseña" name="password" required>
                    <button type="submit" title="Ingresar" name="Ingresar">Ingresar</button>
                </form>
    </div>
            <div id="derecho">
                <div class="titulo">
                    Bienvenido
            </div>
                <hr>
                <div class="pie-form">
                    <a href="/recuperar">¿Recupera tu contraseña?</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>