<!doctype html>
<html lang="es">
<head>
    <title> Registro </title>
    <link rel="stylesheet" href="registrar.component.css">
</head>

<body>
    <div id="contenedor">
        <h1>REGISTRO</h1>
        <div id="contenedorcentrado">
            <div id="login">
                <form id="loginform">
                    <label for="usuario">Nombre</label>
                    <input id="name" type="text" name="usuario" placeholder="Ingresa tu nombre" required>
                    <label for="lasname">Apellido</label>
                    <input id="lasname" type="text" placeholder="Ingresa tu apellido" name="lasname" required>
                    <label for="usuario">Usuario</label>
                    <input id="usuario" type="usuario" placeholder="Ingresa tu usuario" name="password" required>
                    <label for="password">Contraseña</label>
                    <input id="password" type="password" placeholder="Ingresa tu contraseña" name="password" required>
                    <a href="/login">Registrar</a>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
